################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarkDownEditor.Web/.vs/MarkDownEditor
